[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
matplotlib = "*"
maup = "*"
pandas = "*"
numpy = "*"
networkx = "*"
gerrychain = "*"
gerrytools = "*"
gurobipy = "*"
openpyxl = "*"
polars = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
