[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "==0.14.4"
matplotlib = "*"
maup = "*"
pandas = "*"
numpy = "==1.26.4"
networkx = "*"
gerrychain = "*"
gerrytools = "*"
gurobipy = "*"
openpyxl = "*"
polars = "*"
pygris = "*"
mapclassify = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
